@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'InterTightLight';
  src: url('/src/assets/fonts/InterTightLight.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterTightSemiBold';
  src: url('/src/assets/fonts/InterTightSemiBold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MangoGrotesqueBold';
  src: url('/src/assets/fonts/MangoGrotesqueBold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}
